.app {
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.calendar {
  max-width: 800px;
  width: 500px;
  min-height: 500px;
  box-shadow: 5px 011px 15px 1px rgba(0, 0, 0, 0.83);
  padding: 1.5rem;
  padding-bottom: 3rem;
  background: #fff;

  &__red {
    color: #cf2020;
  }

  &--header {
    font-size: 3rem;
  }

  &--day {
    font-size: 7rem;
    margin-top: 1rem;
    font-weight: 600;

    &--weekday {
      font-size: 3rem;
      margin-top: 1rem;
      display: block;
    }
  }

  &--lunar {
    width: 100%;
    margin-top: 1em;

    &--date {
      float: left;
      width: 50%;

      >div {
        margin-top: 0.35rem;
        margin-bottom: 0.35rem;
      }
    }

    &--info {
      float: left;
      width: 50%;

      >div {
        margin-top: 0.35rem;
        margin-bottom: 0.35rem;
      }
    }

    &--perfect-hours {
      width: 100%;
      margin-top: 1em;
    }
  }
}

.row {
  width: 100%;
  overflow: auto;
}

.mg {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.font-medium {
  font-size: 3.5rem;
}