.calendar-table {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;

    &--cell {
        box-sizing: border-box;
        width: 14%;
        height: 50px;
        padding: 5px;
        border: solid 1px #eee;
        cursor: pointer;
        color: #444;

        &__dark {
            background: #ccc;
            color: #444;
            height: 30px;
            text-align: center;
            font-weight: 600;
        }

        &__selected {
            background: #ddd;
        }

        &__red {
            color: rgb(243, 31, 31);
        }

        &:hover {
            background: #eee;
        }
    }
}