$red: rgb(243, 31, 31);
@import "./share";

.calendar-table {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(mobileonly) {
        margin-top: 0.35rem;
    }

    @include breakpoint(iphonex) {
        margin-bottom: 1.5rem;
    }

    &--cell {
        box-sizing: border-box;
        width: (100%/7);
        height: 50px;
        padding: 5px;
        border: solid 1px #eee;
        cursor: pointer;
        color: #444;

        @include breakpoint(mobileonly) {
            height: 44px;
            padding: 3px;
        }

        &__out-of-range {
            color: #bbb !important;
            cursor: default;

            span {
                color: #bbb !important;
            }
        }

        &__dark {
            background: #ccc;
            color: #444;
            height: 30px;
            text-align: center;
            font-weight: 600;
        }

        &__selected {
            background: #ddd;
        }

        &__red {
            color: $red
        }

        &:hover {
            background: #eee;
        }

        &--lunar {
            width: 100%;
            display: block;
            text-align: right;
            color: #222;
            font-size: 0.9rem;

            @include breakpoint(mobileonly) {
                font-size: 0.7rem;
            }

            &__red {
                color: $red
            }
        }

        &--solar {
            font-size: 1.5rem;
            text-align: left;
            width: 100%;
            display: block;

            @include breakpoint(mobileonly) {
                font-size: 1.2rem;
            }

            &__red {
                color: $red
            }
        }
    }
}