$red: rgb(243, 31, 31);

.calendar-table {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;

    &--cell {
        box-sizing: border-box;
        width: 14%;
        height: 50px;
        padding: 5px;
        border: solid 1px #eee;
        cursor: pointer;
        color: #444;

        &__out-of-range {
            color: #999;
        }

        &__dark {
            background: #ccc;
            color: #444;
            height: 30px;
            text-align: center;
            font-weight: 600;
        }

        &__selected {
            background: #ddd;
        }

        &__red {
            color: $red
        }

        &:hover {
            background: #eee;
        }

        &--lunar {
            width: 100%;
            display: block;
            text-align: right;
            color: #222;
            font-size: 0.9rem;

            &__red {
                color: $red
            }
        }

        &--solar {
            font-size: 1.5rem;
            text-align: left;
            width: 100%;
            display: block;

            &__red {
                color: $red
            }
        }
    }
}