@import "./share";

.year-selector {
    position: absolute;
    top: 80px;
    padding: 1rem;
    background: #999;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include breakpoint(mobileonly) {
        top: 40px;
        padding: 0.35rem;
    }

    .arrow {
        position: absolute;
        top: -8px;
        right: 30%;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        background: #999;

        @include breakpoint(mobileonly) {
            top: -4px;
            right: 30%;
            width: 10px;
            height: 10px;
        }
    }

    &--year {
        font-size: 1.3rem;
        color: #555;
        background: #fff;
        border-radius: 5px;
        margin: 0.25rem;
        height: 3.5rem;
        cursor: pointer;

        @include breakpoint(mobileonly) {
            height: 2.5rem;
            margin: 0.2remư;
        }
    }
}